.app-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 200px;
  }
}